<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?Linkid=237468 -->

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>

 <appSettings>

    <!-- FrequenciaExecucao:  0 = Diariamente, 1 = Domingos, 2 = Segundas, 3 = Terças,  4 = Quartas, 5 = Quintas,  6 = Sextas,   7 = Sabados.
        Para esta opção ser ativada, a opção "ExecucaoAcadaMinutos" deve está com "0" -->
    <add key="FrequenciaExecucao" value="0" />
    
    <!-- Definir a hora que será executado-->
    <add key="HoraExecucao" value="12" />
    
    <!-- Definir o minuto que será executado-->
    <add key="MinutoExecucao" value="40" />
    
    <!-- Se definido "0" esta opção "ExecucaoAcadaMinutos" será desativada. Se diferente de zero a opção "FrequenciaExecucao" será desativada -->
    <add key="ExecucaoAcadaMinutos" value="5" />
    
    <add key="ServidorOrigemFTP" value="ftp.datasus.gov.br" />
    <add key="DiretorioOrigemFTP_Arq_RD" value="dissemin/publicos/sihsus/200801_/dados" />
    <add key="DiretorioOrigemFTP_Arq_RJ" value="dissemin/publicos/sihsus/200801_/dados" />
    <add key="DiretorioOrigemFTP_Arq_PA" value="dissemin/publicos/SIASUS/200801_/Dados" />
    <add key="UsuarioServidorOrigemFTP" value="" />
    <add key="SenhaUsuarioServidorOrigemFTP" value="" />
    <add key="DiretorioDestinoArquivosFTP" value="C:\Users\charles.sodre\Desktop\DataSUSDBC" />
    <add key="DiretorioDestinoArquivosDBF" value="C:\Users\charles.sodre\Desktop\DataSUSDBF" />
    <add key="UFArquivosDownload" value="RJ" />
    <add key="TiposArquivos" value="RD|RJ|PA" />

  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <castle>
    <using assembly="Domain.Interfaces" />
    <components>
      <component id="ArquivoRepositorio" service="Domain.Interfaces.IRepositorioArquivo,Domain.Interfaces" type="Infrastructure.Data.RepositorioArquivoEF,Infrastructure.Data" />
      <component id="TipoArquivoRepositorio" service="Domain.Interfaces.IRepositorioTipoArquivo,Domain.Interfaces" type="Infrastructure.Data.RepositorioTipoArquivoEF,Infrastructure.Data" />
      <component id="EstadoUFRepositorio" service="Domain.Interfaces.IRepositorioEstadoUF,Domain.Interfaces" type="Infrastructure.Data.RepositorioEstadoUFEF,Infrastructure.Data" />
      <component id="LogErroArquivoRepositorio" service="Domain.Interfaces.IRepositorioLogErroArquivo,Domain.Interfaces" type="Infrastructure.Data.RepositorioLogErroArquivoEF,Infrastructure.Data" />
      <component id="LogErroAplicacaoRepositorio" service="Domain.Interfaces.IRepositorioLogErroAplicacao,Domain.Interfaces" type="Infrastructure.Data.RepositorioLogErroAplicacaoEF,Infrastructure.Data" />
      <component id="LogArquivoAplicacaoRepositorio" service="Domain.Interfaces.IRepositorioLogArquivo,Domain.Interfaces" type="Infrastructure.Data.RepositorioLogArquivoEF,Infrastructure.Data" />

    </components>
  </castle>
  <connectionStrings>

    <add name="DB_ARQUIVOS_DATASUSEntities" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=DB_ARQUIVOS_DATASUS;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ARQUIVOS_DBF" connectionString="Driver={Microsoft dBase Driver (*.dbf)};SourceType=DBF;SourceDB=;Exclusive=No;Collate=Machine;NULL=NO;DELETED=NO;BACKGROUNDFETCH=NO;" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>


</configuration>
